{% include 'header.html' %}
    
<div id="container">
    <h2>Twilio Manager Home Page</h2>

    <button id="startCalls">Start Calls</button>
    <select id="selectRouting" name="">
        <option value="" disabled selected>Select your routing:</option>
        <option value="musicMessage">Music</option>
        <option value="conferenceRoomMessage">Conference Line</option>
    </select>
    <button id="endCalls">End Calls</button>

    <h3>Signed Up Contacts</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>

    </ul>

</div>

{% include 'footer.html' %}
