{% include 'header.html' %}
    
<div id="container">
    <h2>Phone Call Manager Home Page</h2>

    <button id="startAllCalls">Start Calls</button>
    <select id="selectRouting" name="">
        <option value="" disabled selected>Select your routing:</option>
        <option value="musicRoom">Music</option>
        <option value="confRoom1">Conference Room 1</option>
        <option value="confRoom1">Conference Room 2</option>
        <option value="confRoom1">Conference Room 3</option>
    </select>
    <button id="endAllCalls">End Calls</button>

    <h3>Phone Calls Manager</h3>
    <div id="callCenterContainer">
        <div data-roomId="inactiveRoom" id="inactiveCallContainer">
            <h3>Inactive Call Container</h3>
            {% for call in allCallBanks.callBanks[0].calls %}
                
                <div class="phoneCall" data-callGroup="inactiveRoom" data-phoneNumber="{{ call.toNumber }}">
                    <h4>{{ call.contact.name }}</h4>
                    <h6>{{ call.toNumber }}</h6>
                    <p>{{ call.callStatus }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="activeCallsContainer">
            <h3>Active Call Container</h3>
            <div data-roomId="musicRoom" class="callGroupContainer musicGroup">
                <h3>Music Group</h3>
            </div>
            <div data-roomId="confRoom1" class="callGroupContainer conferenceGroup">
                <h3>Conf Room #1</h3>
            </div>
            <div data-roomId="confRoom2" class="callGroupContainer conferenceGroup">
                <h3>Conf Group #2</h3>
            </div>
            <div data-roomId="confRoom3" class="callGroupContainer conferenceGroup">
                <h3>Conf Group #3</h3>
            </div>
        </div>
    </div>



</div>

{% include 'footer.html' %}
